@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200|Poiret+One');

body {
  background-image: url('http://www.10thkitchen.com/wp-content/uploads/2013/05/DSC_0041w.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: white;
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.3);

}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

.container ul {
  margin-left: 0;
  margin-top: 30px;
  padding-bottom: 15px;
}

.container ul li {
  position: relative;
  left: -35px;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  text-transform: capitalize;
}

.container ul li input {
  -webkit-appearance: none;
  margin-right: 20px;
}

input[type="checkbox"] {
  background: #E6E6E6;
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:checked {
  background: lightblue;
}

input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    width: 7px;
    height: 17px;
    position: relative;
    left: 6px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:focus {
  outline: none;
}

form {
  display: block;
  width: 100%;
  margin-top: 20px;
}

form input {
  width: 80%;
  height: 40px;
  margin-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

form input:focus {
  outline: none;
}

form button {
  background-color: #18bc9c;
  color: white;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  color: white;
  font-family: 'Poiret One', cursive;
}

span {
  margin-top: 7px;
  float: right;
  border: 1px solid #18bc9c;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  background-color: #18bc9c;
  font-size: 10px;
}

a, a:link, a:hover, a:visited {
  color: white;
}

.footer i {
  color: red;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
