@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200|Poiret+One');

body {
  background-image: url('http://www.10thkitchen.com/wp-content/uploads/2013/05/DSC_0041w.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 67vh;
  overflow: hidden;
}

.container {
  background-color: white;
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 350px;
  padding: 15px;
  border-radius: 20px;
}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

.container ul {
  margin-left: 0;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.container ul li {
  position: relative;
  left: -35px;
  display: inline;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

form {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  color: white;
  font-family: 'Poiret One', cursive;
}

a, a:link, a:hover, a:visited {
  color: white;
}

.footer i {
  color: red;
}
